
.table {
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 500px;
    margin-top: -220px;
}
.add_guest{
    display: inline-block;
    vertical-align: top;
    margin-left: 800px;
}
.btn1{
    display: inline-block;
    vertical-align: top;
    margin-left:400px;
    width: 200px;
    height: 75px;
    border-radius: 37px;
    box-shadow: 2px 2px black;
}
/* #map{
    height: 500px;
    width: 100%;
    background-color: grey;
    display: inline-block

} */

.event{
    display: inline-block;
    vertical-align: top;
    margin-top: -330px;
    margin-left: -200px;
    width: 30px;
    height: 30px;


}
.create{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: -205px;
}

.cancel {
    display: inline-block;
    width: 150px;
    height: 50px;
    vertical-align: top;
    margin-left: -138px;
    margin-top: 100px;

}