switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    display: inline-block;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: 1.4s;
    transition: .4s;
    vertical-align: top;
    margin-left: -50px;
  }
  
  .slider:before {
    display: inline-block;
    content: "";
    height: 43px;
    width: 80px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 1.4s;
    transition: 2.2s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch_toggle {
      display: inline-block;
      vertical-align: top;
      margin-left: 50px;
      width: 50px;
      height: 80px;
  }
  .guest_list {
    overflow:scroll;
  }
