.btn1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 90px;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px black;
  border-radius: 20px;
}
.btn2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 90px;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px black;
  border-radius: 20px;
  margin-top: 18px;
}

#page-content {
display: inline-block;
flex: 1 0 auto;
}

#sticky-footer {
flex-shrink: none;
display: inline-block;
vertical-align: top;
margin-top: 350px;
width: 100em;
border-radius: 20px;
box-shadow: 3px 3px black;
}

.rightheader {
  display: inline-block;
  vertical-align: top;
  width:332px;
  height:82px;
  margin-top: 3px;
  background-color:    #444444;
  border-radius: 30px;
  box-shadow:3px 3px;
  margin-left: 300px;

}

.side{
  display: inline-block;
  vertical-align: top;
  width: 166px;
  height: 362px;
  background-image: url('https://66.media.tumblr.com/3db549089b1d9ca4121cf2350ea83b5a/tumblr_prgg4btRIB1y9eqrco1_540.png');
  margin-left: 495px;
  margin-top: -342px;
  border-radius: 20px;
}