.btn1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 153px;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px black;
  border-radius: 20px;
}
.btn2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 153px;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px black;
  border-radius: 20px;
  margin-top: 10px;
}

#page-content {
display: inline-block;
flex: 1 0 auto;
}

#sticky-footer {
flex-shrink: none;
display: inline-block;
vertical-align: top;
margin-top: 350px;
width: 100em;
border-radius: 20px;
box-shadow: 3px 3px black;
}

.rightheader {
  display: inline-block;
  vertical-align: top;
  width:312px;
  height:90px;
  margin-top: 30px;
  background-color:    #444444;
  border-radius: 30px;
  box-shadow:3px 3px;
  margin-left: 300px;

}

