<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Friends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'party_app/css/find_friend.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'party_app/css/show.css' %}">

    <script src="{% static 'party_app/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'party_app/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Haus Party</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/user_profile/{{user_id}}">Profile
                        <span class="sr-only">(current)</span>
                </a>
                <li class="nav-item">
                    <a class="nav-link" href="/add_event">Add an Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/find_friend">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/meet_team">Meet the Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>     
    <div class="accordion" id="accordionExample" style="background: linear-gradient(to bottom left, #ff9933 0%, #ffffff 100%)">
        <div class="card">
            <div class="card-header" id="headingOne">
            <br><br>
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Current Friends <!--jquery slide up TODO-->
                </button>
            </h2>
        </div>
    </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
            <div class="card-body">
                    <div class="table-responsive-sm">
                            <table class="table table-condensed table-borderless table-hover">
                            <caption>Friends</caption>
                                <thead class="thead-dark">
                                    <tr>
                                    <th width="12%" scope="col">Name</th>
                                    <th width="12%" scope="col">Username</th>
                                    <th width="12%" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for friend in friends %}
                                    <tr>
                                    <td>{{friend.first_name}} {{friend.last_name}}</td>
                                    <td>{{friend.username}}</td>  
                                    <td><a href="/remove_friend/{{friend.id}}">Remove</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            <!--end of table-->
                        </div>
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="card-header" id="headingTwo" >
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Find Friends!<!--jquery slide up TODO-->
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="background: linear-gradient(to bottom left, #ff9933 0%, #ffffff 100%)">
            <div class="card-body">
                <form action="/add_friend" method="POST">
                    {% csrf_token %}
                    <select name="friend_id">
                            {% for friend in guests %}
                        <option value="{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add New Friends"><br>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="whitespace">
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>