<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'party_app/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/bootstrap.min.css' %}">
    <script src="{% static 'party_app/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'party_app/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container container-fluid">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <div class="alert alert-warning" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <form class="form-signin" action="/reg" method="post">
                  {% csrf_token %}
                <div class="form-label-group">
                    <input type="text" name="first_name" class="form-control" placeholder="First name" required autofocus>
                    <label for="first_name">First Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" name="last_name" class="form-control" placeholder="Last name" required autofocus>
                    <label for="last_name">Last Name</label>
                </div>
        
                  <div class="form-label-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                    <label for="username">Username</label>
                  </div>
    
                  <div class="form-label-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <label for="email">Email address</label>
                  </div>
                  
                  <hr>
    
                  <div class="form-label-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <label for="password">Password</label>
                  </div>
                  
                  <div class="form-label-group">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Password" required>
                    <label for="confirm_password">Confirm password</label>
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                  <a class="d-block text-center mt-2 small" href="#">Sign In</a>
                  <hr class="my-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" style="background-color: 	#FE041B; color: white;"><img src="{% static 'party_app/images/google.png' %}" style="display: inline-block; height: 50px; width: 50px; margin-right: 10px;">Sign up with Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" style="background-color: 	#395297; color: white;"><img src="{% static 'party_app/images/fb.png' %}" style="display: inline-block; height: 50px; width: 50px; margin-right: 10px;"> Sign up with Facebook</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>