<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'party_app/css/user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'party_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="{% static 'party_app/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'party_app/js/bootstrap.bundle.min.js' %}"></script>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top" style="margin-right: 427px">
            <div class="container">
                <a class="navbar-brand" href="#">Hows Party</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Profile
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/meet_team">Meet the Team</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Full Page Image Header with Vertically Centered Content -->
        <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                </div>
            </div>
        </div>
        </header>
        <div class="container" style="display: inline-block; vertical-align: top">

                <header class="masthead">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <h1 class="font-weight-light"></h1>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="rightheader">
                    <div class="container" >
                        <form id=”search” method=”POST” action="/show_event/{{event.id}}">
                            {% csrf_token %}
                            <input type="text" class=”form-control” id=”txtSearch” placeholder="search event" name=”txtSearch”
                                style="background-color: white; width: 181px; height: 45px; text-align:center; font-weight:lighter; border:5px lightgrey; border-radius: 5px; margin-left:45px; margin-top:20px; vertical-align:bottom">
                            <button
                                style="border-radius:5px; background-color:#254A68; color:white; font-family: Arial, Helvetica, sans-serif; margin-left: 240px; box-shadow: 2px 2px; width:50px; height:30px; margin-top:-70px;vertical-align: middle;">GO</button>
                        </form>
                    </div>
                </div>
        <!--end of rightheader -->

        <!-- Page Content -->
        <div class="container">
                <div class="container">
                    <br><br>
                    <h2 class="font-weight-light">Welcome, {{ request.session.first_name}} {{request.session.last_name}}!
                    </h2>
                    <p>Getting started is easy. Just find friends and add an event! If you have no friends don't fret, we'll
                        help you out.</p>
                    <p><i>Here's your username:</i> {{request.session.username}}</p>
                </div>
        
        
                <button onclick="window.location.href = '/add_event';" type="button" class="btn1 btn-primary">Add an
                    Event</button>
        
                <button onclick="window.location.href = '/find_friend';" type="button" class="btn2 btn-primary">Find
                    Friends</button>
            </div>
        
            
            <div class="container mt-5">
                
                <h2 class="upcoming text-center">Upcoming Events</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Date created</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in all_events %}
                        <tr>
                            <th scope="row">{{event.id}}</th>
                            <td>{{event.name}}</td>
                            <td>{{event.created_at}}</td>
                            <td><a href="/user_profile/{{event.id}}/destroy">Remove |</a><a
                                    href="/show_event/{{event.id}}">Show!</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <script>
            $(document).ready(function () {
                $("#txtSearch").autocomplete({
                    source: "/ajax_calls/search/",
                    minLength: 2,
                    open: function () {
                        setTimeout(function () {
                            $('.ui-autocomplete').css('z-index', 99);
                        }, 0);
                    }
                });
            });
        </script>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>